body {

    font-family: Futura Lt BT, sans-serif;
    font-weight: 300;
    font-style: normal;
}

header, section {
    padding-top: 5%;
    padding-bottom: 5%;
}




.container {
    max-width: 1400px;
}

a {
    color: #007FAD;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #007FAD;
    color: #007FAD;
}

a:active {
    color: #81c9f9;
    text-decoration: underline;
    text-decoration-color: #81c9f9;
}


hr {
    border-top: 1px solid #9fc54d;
}

/*h1 {*/
    /*font-size: 90px;*/
    /*letter-spacing: -3px;*/
    /*line-height:  85px;*/
/*}*/

h1 {
    font-size: calc(42px + 3vw);
    line-height: calc(42px + 3vw);
    letter-spacing: calc(-3px);
}

.bold {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
}

/*h2 {*/
    /*font-size: 60px;*/
    /*letter-spacing: -2px;*/
/*}*/

h2 {
    font-size: calc(28px + 2vw);
    letter-spacing: calc(-0.5px + -0.1vw);
}


/*h3 {*/
    /*font-size: 40px;*/
    /*letter-spacing: -1px;*/
/*}*/

h3 {
    font-size: calc(25px + 1.2vw);
    letter-spacing: -0.5px;
}

/*h4 {*/
    /*font-size: 30px;*/
    /*letter-spacing: -0.7px;*/
    /*line-height: 50px;*/
/*}*/

h4 {
    font-size: calc(25px + 0.1vw);
    letter-spacing: calc(-0.5px);
    line-height: calc(40px + 0.6vw);
}

h5 {
    font-size: calc(18px + 0.2vw);
    /*font-size: 18px;*/
    letter-spacing: 10px;
    color: grey;
    text-transform: uppercase;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
}

h6 {
    color: #007FAD;
    font-size: calc(35px + 1vw);
    font-weight: 100;
    letter-spacing: calc(1px + 1.2vw);
    text-transform: uppercase;
}

p {
    font-size: calc(20px + 0.1vw);
    letter-spacing: -0.3px;

}

.cyan {background-color: #009DD6;}
.dark-cyan {background-color: #007FAD;}
.magenta {background-color: #DE0D83;}
.yellow {background-color: #FFFF00;}
.green {background-color: #07a855;}
.burg {background-color: #942f3a;}
.red {background-color: #e41e30;}
.green2 {background-color: #8dc640;}
.grey {background-color: #808080;}

.green-text {color: #07a855;}
.cyan-text {color: #009DD6;}


.white {color: white;}

button {
    background-color: white;
    border: 1px solid #007FAD;
    padding: 10px 15px 5px 15px;
    color: #007FAD;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: futura-pt, sans-serif;

}

button:hover {
    background-color: #007FAD;
    color: white;

}